.pagination {
  display: flex;
  justify-content:center;
  margin: 15px auto; 
  background-color: #23c8ff;
  width:50vmin;
  
}

ul {
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin:2% auto;
}

ul.pagination li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

ul.pagination li.active a {
  color: #23c8ff;
}

ul.pagination li.active {
  margin:2% auto;
  background-color: white;
  border-radius: 50%;
}
